
<div class="bg-blue-500 text-white w-64 min-h-screen p-4">
    <div class="px-4 py-2 mb-4 bg-blue-600 rounded-lg flex justify-between">
        <a href="?lang=vi" class="w-1/2 text-center px-2 py-1 text-sm font-medium border border-blue-700 rounded-l-md bg-gradient-to-r from-white to-blue-200 text-blue-800">
            Tiếng Việt
        </a>
        <a href="?lang=en" class="w-1/2 text-center px-2 py-1 text-sm font-medium border border-blue-700 rounded-r-md bg-gradient-to-r from-blue-700 to-blue-600 text-white">
            English
        </a>
    </div>
    <ul class="space-y-2">
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.studentManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addStudent"}}</a></li>
                <li><a href="/delete" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.deleteStudent"}}</a></li>
                <li><a href="/update" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.updateStudent"}}</a></li>
                <li><a href="/search" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.searchStudent"}}</a></li>
            </ul>
        </li>
        <hr>
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.classManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/class" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addClass"}}</a></li>
                <li><a href="/class/student" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addStudentToClass"}}</a></li>
                <li><a href="/registration/deleteRegistrationPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.removeStudentFromClass"}}</a></li>
            </ul>
        </li>
        <hr>
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.facultyManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/faculty/addFacultyPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addFaculty"}}</a></li>
                <li><a href="/faculty/updateFacultyPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.updateFaculty"}}</a></li>
            </ul>
        </li>
        <hr>
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.statusManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/status/addStatusPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addStatus"}}</a></li>
                <li><a href="/status/updateStatusPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.updateStatus"}}</a></li>
            </ul>
        </li>
        <hr>
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.programManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/program/addProgramPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addProgram"}}</a></li>
                <li><a href="/program/updateProgramPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.updateProgram"}}</a></li>
            </ul>
        </li>
        <hr>
        <a href="/email/configEmailPage" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.emailConfig"}}</a>
        <hr>
        <a href="/grade/gradePage" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.viewGrades"}}</a>
        <hr>
        <li class="menu-item relative">
            <a href="#" class="block px-4 py-2 rounded-lg hover:bg-blue-600 menu-toggle">{{__ "HEADER.courseManagement"}}</a>
            <ul class="submenu hidden ml-4 space-y-2">
                <li><a href="/course/addCoursePage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.addCourse"}}</a></li>
                <li><a href="/course/editCoursePage" class="block px-4 py-2 rounded-lg hover:bg-blue-600">{{__ "HEADER.editCourse"}}</a></li>
            </ul>
        </li>
    </ul>
</div>
